In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
sns.set(style="darkgrid")
sns.set_context("talk")

In [3]:
dfadvanced = pd.read_csv('dataset/Advanced.csv')
dftstats = pd.read_csv('dataset/Team Stats Per Game.csv')
dfts = pd.read_csv('dataset/Team Summaries.csv')
dftt = pd.read_csv('dataset/Team Totals.csv')

In [4]:
dfadvanced.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,31136,2024,5025,A.J. Green,NaN,SG,24.0,2,NBA,MIL,...,5.5,15.2,0.7,0.3,1.1,0.084,-0.4,-1.7,-2.1,0.0
1,31137,2024,5026,A.J. Lawson,NaN,SG,23.0,2,NBA,DAL,...,9.6,20.0,0.0,0.3,0.2,0.036,-3.1,-1.5,-4.6,-0.2
2,31138,2024,5027,AJ Griffin,NaN,SF,20.0,2,NBA,ATL,...,11.3,17.3,-0.4,0.0,-0.4,-0.120,-6.0,-3.5,-9.6,-0.3
3,31139,2024,4219,Aaron Gordon,NaN,PF,28.0,10,NBA,DEN,...,11.2,17.8,4.5,2.6,7.1,0.148,1.2,0.1,1.3,1.9
4,31140,2024,4582,Aaron Holiday,NaN,PG,27.0,6,NBA,HOU,...,10.6,16.7,1.3,1.2,2.5,0.094,-1.8,0.3,-1.5,0.2

In [5]:
dftstats.head()

,season,lg,team,abbreviation,playoffs,g,mp_per_game,fg_per_game,fga_per_game,fg_percent,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
0,2024,NBA,Atlanta Hawks,ATL,False,82.0,242.1,43.0,92.5,0.465,...,0.797,12.5,32.2,44.7,26.6,7.5,4.5,13.5,18.6,118.3
1,2024,NBA,Boston Celtics,BOS,True,82.0,241.8,43.9,90.2,0.487,...,0.807,10.7,35.6,46.3,26.9,6.8,6.6,11.9,16.2,120.6
2,2024,NBA,Brooklyn Nets,BRK,False,82.0,241.5,40.7,89.1,0.456,...,0.756,11.4,32.6,44.1,25.6,6.8,5.2,13.1,18.5,110.4
3,2024,NBA,Chicago Bulls,CHI,False,82.0,243.7,42.0,89.5,0.470,...,0.791,11.2,32.6,43.8,25.0,7.8,4.8,12.2,18.8,112.3
4,2024,NBA,Charlotte Hornets,CHO,False,82.0,240.6,40.0,87.0,0.460,...,0.786,9.3,31.0,40.3,24.8,6.9,4.5,13.8,18.0,106.6

In [6]:
dfts.head()

,season,lg,team,abbreviation,playoffs,age,w,l,pw,pl,...,tov_percent,orb_percent,ft_fga,opp_e_fg_percent,opp_tov_percent,opp_drb_percent,opp_ft_fga,arena,attend,attend_g
0,2024,NBA,Atlanta Hawks,ATL,False,26.2,36.0,46.0,36.0,46.0,...,11.6,27.1,0.200,0.572,12.4,75.2,0.192,State Farm Arena,696418.0,16986.0
1,2024,NBA,Boston Celtics,BOS,True,28.2,64.0,18.0,66.0,16.0,...,10.8,24.9,0.180,0.523,10.8,76.3,0.145,TD Garden,766240.0,18689.0
2,2024,NBA,Brooklyn Nets,BRK,False,26.1,32.0,50.0,34.0,48.0,...,11.8,25.2,0.177,0.543,11.4,76.0,0.193,Barclays Center,720291.0,17568.0
3,2024,NBA,Chicago Bulls,CHI,False,28.1,39.0,43.0,37.0,45.0,...,11.0,25.1,0.187,0.556,12.7,76.4,0.195,United Center,845620.0,20625.0
4,2024,NBA,Charlotte Hornets,CHO,False,25.1,21.0,61.0,18.0,64.0,...,12.6,21.1,0.167,0.572,12.3,74.5,0.188,Spectrum Center,674400.0,16449.0

In [7]:
dftt.head()

,season,lg,team,abbreviation,playoffs,g,mp,fg,fga,fg_percent,...,ft_percent,orb,drb,trb,ast,stl,blk,tov,pf,pts
0,2024,NBA,Atlanta Hawks,ATL,False,82.0,19855.0,3529.0,7584.0,0.465,...,0.797,1024.0,2639.0,3663.0,2180.0,615.0,369.0,1110.0,1522.0,9703.0
1,2024,NBA,Boston Celtics,BOS,True,82.0,19830.0,3601.0,7396.0,0.487,...,0.807,876.0,2923.0,3799.0,2207.0,557.0,538.0,979.0,1326.0,9887.0
2,2024,NBA,Brooklyn Nets,BRK,False,82.0,19805.0,3334.0,7307.0,0.456,...,0.756,938.0,2675.0,3613.0,2102.0,556.0,424.0,1076.0,1516.0,9050.0
3,2024,NBA,Chicago Bulls,CHI,False,82.0,19980.0,3448.0,7339.0,0.470,...,0.791,916.0,2677.0,3593.0,2048.0,638.0,394.0,1004.0,1541.0,9206.0
4,2024,NBA,Charlotte Hornets,CHO,False,82.0,19730.0,3281.0,7133.0,0.460,...,0.786,765.0,2538.0,3303.0,2033.0,562.0,371.0,1129.0,1472.0,8740.0

In [9]:
print("Advanced",dfadvanced.shape)
print("Team Stats",dftstats.shape)
print("Team Summary",dfts.shape)
print("Team Totals",dftt.shape)

Advanced (31870, 32)
Team Stats (1845, 28)
Team Summary (1845, 31)
Team Totals (1845, 28)

In [12]:
print("Advanced")
print(dfadvanced.isna().sum())
print()
print("Team Stats")
print(dftstats.isna().sum())
print()
print("Team Summary")
print(dfts.isna().sum())
print()
print("Team Totals")
print(dftt.isna().sum())

Advanced
seas_id            0
season             0
player_id          0
player             0
birth_year     29000
pos                0
age               22
experience         0
lg                 0
tm                 0
g                  0
mp              1083
per             1100
ts_percent       136
x3p_ar          6490
f_tr             157
orb_percent     5298
drb_percent     5298
trb_percent     3709
ast_percent     2725
stl_percent     5641
blk_percent     5640
tov_percent     5737
usg_percent     5640
ows               11
dws               11
ws                11
ws_48           1100
obpm            5647
dbpm            5647
bpm             5647
vorp            5647
dtype: int64

Team Stats
season             0
lg                 0
team               0
abbreviation      87
playoffs           0
g                  1
mp_per_game      190
fg_per_game        1
fga_per_game       1
fg_percent         1
x3p_per_game     443
x3pa_per_game    443
x3p_percent      443
x2p_per_game       1
x2pa_per_game      1
x2p_percent        1
ft_per_game        1
fta_per_game       1
ft_percent         1
orb_per_game     330
drb_per_game     330
trb_per_game      53
ast_per_game       1
stl_per_game     389
blk_per_game     389
tov_per_game     318
pf_per_game        1
pts_per_game       1
dtype: int64

Team Summary
season                0
lg                    0
team                  0
abbreviation         87
playoffs              0
age                  64
w                    88
l                    88
pw                    1
pl                    1
mov                   1
sos                   1
srs                   1
o_rtg                53
d_rtg                53
n_rtg               136
pace                 53
f_tr                  1
x3p_ar              443
ts_percent            1
e_fg_percent          1
tov_percent         318
orb_percent         366
ft_fga                1
opp_e_fg_percent    264
opp_tov_percent     318
opp_drb_percent     366
opp_ft_fga          264
arena                88
attend              485
attend_g            878
dtype: int64

Team Totals
season            0
lg                0
team              0
abbreviation     87
playoffs          0
g                 1
mp              190
fg                1
fga               1
fg_percent        1
x3p             443
x3pa            443
x3p_percent     443
x2p               1
x2pa              1
x2p_percent       1
ft                1
fta               1
ft_percent        1
orb             330
drb             330
trb              53
ast               1
stl             389
blk             389
tov             318
pf                1
pts               1
dtype: int64

In [13]:
print("Unique seasons in data:", dfadvanced['season'].unique())

Unique seasons in data: [2024 2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011
 2010 2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997
 1996 1995 1994 1993 1992 1991 1990 1989 1988 1987 1986 1985 1984 1983
 1982 1981 1980 1979 1978 1977 1976 1975 1974 1973 1972 1971 1970 1969
 1968 1967 1966 1965 1964 1963 1962 1961 1960 1959 1958 1957 1956 1955
 1954 1953 1952 1951 1950 1949 1948 1947]

In [24]:
players_with_experience = dfadvanced[dfadvanced['experience'] >= 7]

In [28]:
players_with_experience.nunique()

seas_id        9405
season           72
player_id      1549
player         1544
birth_year       44
pos              23
age              21
experience       16
lg                2
tm               80
g                87
mp             3015
per             393
ts_percent      513
x3p_ar          813
f_tr            786
orb_percent     230
drb_percent     366
trb_percent     261
ast_percent     482
stl_percent      69
blk_percent     103
tov_percent     355
usg_percent     338
ows             159
dws              94
ws              193
ws_48           522
obpm            263
dbpm            144
bpm             312
vorp            120
dtype: int64

In [31]:
players_with_experience['age'].isna().sum()

0